<!DOCTYPE html>
<!--<html ng-app="angularDemoApp">
<head>
  <title>{{$root.header}}</title>

  <link rel="stylesheet" type="text/css" href="javascripts/css/bootstrap.css">
</head>

<body  >
  <div id="main">

        <!-- angular templating -->
        <!-- this is where content will be injected -->
 <!--       <div ng-view></div>

  </div>
  <script src="javascripts/assets/angular.js"></script>
  <script src="javascripts/assets/angular-route.min.js"></script>
  
  <script src="javascripts/js/app.js"></script>
  <script src="javascripts/js/services/directorService.js"></script>
  
  <script src="javascripts/js/controllers/directorController.js"></script>
</body>
</html>-->

<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>Angular version | Angulr</title>
  <meta name="description" content="Angularjs, Html5, Music, Landing, 4 in 1 ui kits package" />
  <meta name="keywords" content="AngularJS, angular, bootstrap, admin, dashboard, panel, app, charts, components,flat, responsive, layout, kit, ui, route, web, app, widgets" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/javascripts/libs/assets/animate.css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/javascripts/libs/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/javascripts/libs/assets/simple-line-icons/css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="/javascripts/libs/jquery/bootstrap/dist/css/bootstrap.css" type="text/css" />

  <link rel="stylesheet" href="/javascripts/libs/jquery/plugins/integration/bootstrap/3/dataTables.bootstrap.css" type="text/css" />
  
  
  <!-- build:css css/app.min.css -->
  <link rel="stylesheet" href="/javascripts/css/font.css" type="text/css" />
  <link rel="stylesheet" href="/javascripts/css/app.css" type="text/css" />
  <!-- endbuild -->
</head>
<body ng-controller="AppCtrl">
  <div class="app" id="app" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}" ui-view></div>

<!-- build:js js/app.angular.js -->
  <!-- jQuery -->
  <script src="/javascripts/libs/jquery/jquery/dist/jquery.js"></script>
  <!-- Bootstrap -->
  <script src="/javascripts/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>

  <!-- Angular -->
  <script src="/javascripts/libs/angular/angular/angular.js"></script>
  
  <script src="/javascripts/libs/angular/angular-animate/angular-animate.js"></script>
  <script src="/javascripts/libs/angular/angular-aria/angular-aria.js"></script>
  <script src="/javascripts/libs/angular/angular-cookies/angular-cookies.js"></script>
  <script src="/javascripts/libs/angular/angular-messages/angular-messages.js"></script>
  <script src="/javascripts/libs/angular/angular-resource/angular-resource.js"></script>
  <script src="/javascripts/libs/angular/angular-sanitize/angular-sanitize.js"></script>
  <script src="/javascripts/libs/angular/angular-touch/angular-touch.js"></script>
  
  <script src="/javascripts/libs/angular/angular-ui-router/release/angular-ui-router.js"></script> 
  <script src="/javascripts/libs/angular/ngstorage/ngStorage.js"></script>
  <script src="/javascripts/libs/angular/angular-ui-utils/ui-utils.js"></script>

  <!-- bootstrap -->
  <script src="/javascripts/libs/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- lazyload -->
  <script src="/javascripts/libs/angular/oclazyload/dist/ocLazyLoad.js"></script>
  <!-- translate -->
  <script src="/javascripts/libs/angular/angular-translate/angular-translate.js"></script>
  <script src="/javascripts/libs/angular/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="/javascripts/libs/angular/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="/javascripts/libs/angular/angular-translate-storage-local/angular-translate-storage-local.js"></script>

  <script src="/javascripts/libs/jquery/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/javascripts/libs/jquery/plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>

  

  <!-- App -->
  <script src="/javascripts/js/app.js"></script>
  <script src="/javascripts/js/config.js"></script>
  <script src="/javascripts/js/config.lazyload.js"></script>
  <script src="/javascripts/js/config.router.js"></script>
  <script src="/javascripts/js/main.js"></script>
  <script src="/javascripts/js/services/ui-load.js"></script>
  <script src="/javascripts/js/filters/fromNow.js"></script>
  <script src="/javascripts/js/directives/setnganimate.js"></script>
  <script src="/javascripts/js/directives/ui-butterbar.js"></script>
  <script src="/javascripts/js/directives/ui-focus.js"></script>
  <script src="/javascripts/js/directives/ui-fullscreen.js"></script>
  <script src="/javascripts/js/directives/ui-jq.js"></script>
  <script src="/javascripts/js/directives/ui-module.js"></script>
  <script src="/javascripts/js/directives/ui-nav.js"></script>
  <script src="/javascripts/js/directives/ui-scroll.js"></script>
  <script src="/javascripts/js/directives/ui-shift.js"></script>
  <script src="/javascripts/js/directives/ui-toggleclass.js"></script>
  <script src="/javascripts/js/controllers/bootstrap.js"></script>

  <script src="/javascripts/js/controllers/sales.js"></script>
  <script src="/javascripts/js/controllers/dashboard.js"></script>
  <script src="/javascripts/js/controllers/profile.js"></script>
  <script src="/javascripts/js/controllers/users.js"></script>

  <script src="/javascripts/js/services/auth.js"></script>


<!-- endbuild -->
  <!-- Lazy loading -->
</body>
</html>